.main-content .right {
  /* 300 / 1180 * 100 = vw 로 계산 */
  width: 25.423vw;
  max-width: 300px;
}
.list-card {
  width: 100%;
}
.card-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 330px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s;
  margin-bottom: 30px;
}

.card-wrap:hover {
  transform: translateY(-10px);
  filter: drop-shadow(0px 20px 40px #bdc4d3);
}

.card-img {
  width: 100%;
  height: 100%;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  padding: 25px 20px;
  z-index: 1;
  align-items: center;
  gap: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}
.card-cate {
  color: #f5f7fa;
  font-weight: 700;
  font-size: 18px;
}
.card-count {
  padding: 5px 10px;
  color: #ffffff;
  font-size: 10px;
  background-color: #1e1e1e;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .main-content .right {
    display: none;
  }
}
